.h11 {
	font-family: Fantasy;
}
.h31 {
	font-family: Arial;
}
.a11 {
	color: green;
	font-family: Arial;
}


.h12 {
	font-family: Fantasy;
}
.h22 {
	font-family: Arial;
}
.a12 {
	color: green;
	font-family: Arial;
}
.a32 {
	color: green;
	font-family: Arial;
}
.p12{
  font-family: Arial;
}
.a22{
  font-family: Arial;
  color: green;
}
.img {
	width: 400px;
	height: 300px;
	image-orientation: 90deg; 
}
